name: Scheduled Weather Email

on:
  schedule:
    - cron: '30 0 * * *'  # 8:00 AM IST = 2:30 AM UTC

  workflow_dispatch:

jobs:
  send_weather_email:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run weather email script
        env:
          EMAIL: ${{ secrets.EMAIL }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          RECIPIENT: ${{ secrets.RECIPIENT }}
          WEATHERAPI_KEY: ${{ secrets.WEATHERAPI_KEY }}
        run: |
          python main.py
